# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
memorylog-frontend/.env
memorylog-frontend/.env.*
memorylog-backend/.env
memorylog-backend/.env.*

# Node modules
memorylog-frontend/node_modules/
memorylog-backend/node_modules/

 #Build
memorylog-frontend/dist

dist-ssr
*.local
.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
