:root {
  --bg-default: #FC8EAC;
  --color-pink: #FC6C85;
  --color-gray: #918E9B;
  --color-black: #2B283A;
  --custom-border: 1px solid var(--color-pink);
}

body {
    font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--bg-default);
    padding: 3rem 0;
    min-height: 100vh;
    color: var(--color-black);
    font-size: 16px;
    overflow: hidden scroll;
}

/*Fonts & Font Colors*/
.intro h5 {
    font-family: Caveat, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.navbar {
    font-family: PT Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.navbar-nav .nav-link.active {
    color: var(--color-pink);
}
.text-gray {
    color: var(--color-gray);
}
.text-pink {
    color: var(--color-pink);
}

/*Logo & Images*/
.logo {
    width: 40px;
}
img {
    width: 100%;
}
.img-small {
    max-width: 15rem;
}

/*Buttons*/
.btn {
    font-size: 0.85rem;
    min-width: 5rem;
    letter-spacing: 0.025em;
}
.btn-custom-default {
    background-color: var(--bg-default);
    color: #FFFFFF;
}
.btn-custom-default:hover {
    background-color: #fff;
    border: var(--custom-border);
    color: var(--color-pink);
}
.btn-custom-secondary {
    background-color: white;
    color: var(--color-pink);
    border: var(--custom-border);
    min-width: unset;
}
.btn-custom-secondary:hover {
    background-color: var(--color-pink);
    color: white;
}
.trans-smooth {
    transition: all 0.5s ease-in-out;
}
.custom-border {
    border: var(--custom-border) !important;
}

/*Homepage Icons*/
.activity-icon {
    width: 50px;
}
.activity-icon.celebrate {
    top: .5rem;
    left: 2.5rem;
}
.activity-icon.cycling {
    top: 9rem;
    left: -2rem;
    transform: rotate(-30deg);
}
.activity-icon.travel {
    top: 1rem;
    right: 0;
    transform: rotate(-27deg);
}
.activity-icon.football {
    top: 16rem;
    right: 6rem;
}
.activity-icon.pet {
    top: 13rem;
    left: 8rem;
}

/*Memory Entry*/
.entry-card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


  
  